<h1>タスク一覧</h1>
<ul>
  <% @task.each do |task| %>
    <li>
      <% if task.status == 'draft' %>
        <%= link_to task.title, task, :style=>"color:#FF0000;"%>
        <%= task.created_at.strftime("%Y年%m月%d日") %>
      <% elsif task.status == 'published' %>
        <%= link_to task.title, task, :style=>"color:#0000FF;"%>
        <%= task.created_at.strftime("%Y年%m月%d日") %>
      <% elsif task.status == 'archieved' %>
        <%= link_to task.title, task, :style=>"color:#008000;"%>
        <%= task.created_at.strftime("%Y年%m月%d日") %>
      <% else %>
        <%= link_to task.title, task%>
        <%= task.created_at.strftime("%Y年%m月%d日") %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "登録する", new_task_path %>
<%= link_to "非表示一覧", tasks_hide_path %>