<p><font color="blue"><%= flash[:success] %></font></p>
<b>
<p>タイトル：<%= @task.title %></p>
<p>メモ：<%= @task.memo %></p>
<p>状態：<%= @task.status %></p>
<p>登録日：<%= @task.created_at.strftime("%Y年%-m月%-d日") %></p>
</b>
<%= link_to "一覧", tasks_path %>
<%= link_to "編集", edit_task_path %>
<%= link_to "削除", task_path(@task), method: :delete, data: {confirm: '削除してよろしいですか？'} %>